/********CONTAINER FOR CALENDAR********/
#calendar {
    overflow-x: auto;
    overflow-y: auto;
    border-radius: 8px;
    width: 100%;
    margin: auto;

}

.meal-plan-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.update-btn {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px;
    margin: 0;
    transition: all 0.3s ease;
}

.update-btn:hover {
    transform: translateY(-2px);
    background-color: #2980b9;
    color: white;
}

/*********STYLING TABLE TITLE********/
table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}

th {
    border: 4px solid #3498db;
    background-color: white;
    width: 15%;
}

td {
    border: 4px solid #3498db;
    background-color: lightgray;
    padding: 10px;
    height: 600px;
    vertical-align: text-top;
}

.day-button {
    background-color: white;
    font-weight: bold;
    color: black;
    padding: 10px;
    width: 100%;
    border: none;
}

.day-button:hover {
    background-color: lightgoldenrodyellow;
}

tbody tr td h3 {
    text-decoration: underline;
    text-align: center;
}

tbody tr td ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

/********TEST FORM INFO********/
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: auto;
    padding: 10px;
    width: 100%;
}