/********CONTAINER FOR CALENDAR********/
#calendar {
    width: 100%;
    margin: auto;

}

/*********STYLING TABLE TITLE********/
table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}

th {
    border: 4px solid #3498db;
    background-color: white;
    padding: 10px;
    width: 10%;
}

tbody {
    height: 75%;
}

tr {
    border: 4px solid #3498db;
    height: 75%;
}

/********TEST FORM INFO********/
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: auto;
    padding: 10px;
    width: 100%;
}