/********CONTAINER FOR CALENDAR********/
#calendar {
    width: 100%;
    margin: auto;
}

/*********STYLING TABLE TITLE AND BUTTONS********/
.fc .fc-button-primary:disabled {
    background-color: #2980b9;
    color: var(--fc-button-text-color);
}

.fc .fc-button-primary {
    background-color: #3498db;
    color: var(--fc-button-text-color)
}

/*********STYLING FOR TABLE HEADER AND ROWS********/
.fc-theme-standard th {
    border: 4px solid var(--fc-border-color);
    background-color: white;
}

.fc-theme-standard td {
    border: 4px solid var(--fc-border-color);
    background-color: lightgray;
}

.fc .fc-scrollgrid-section-footer>*,
.fc .fc-scrollgrid-section-header>* {
    border-top-width: 4px;
    border-right-width: 4px;
    border-left-width: 4px;
}

.fc .fc-scrollgrid-section,
.fc .fc-scrollgrid-section table,
.fc .fc-scrollgrid-section>td {
    border-width: 4px;
    border-top-width: 0px;
}

.fc .fc-scrollgrid-liquid {
    height: 75%;
}